<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Overview</title>
    <link rel="stylesheet" href="public/css/style.css" />
  </head>
  <body class="detail-body">
    <div class="student-detail">
      <div class="student-card">
        <div class="student-img">
          <img src="{%IMAGE%}" alt="Student Image" />
        </div>
        <div class="student-info">
          <h2>ID: {%ID%}</h2>
          <h2>Name: {%NAME%}</h2>
          <h2>Surname: {%SURNAME%}</h2>
          <h4>Score: {%SCORE%}</h4>
          <h4>Serial Number: {%SERIANO%}</h4>
        </div>
      </div>
    </div>
  </body>
</html>
